/* Obsidian Black Metallic =  #161819*/
/* Designo Mocha Black = #272422*/
/* Designo Graphite Grey Magno (Matte) = #4d5258*/
/* Designo Selenite Grey Magno =  #959595*/
/* Designo Diamond White Metallic =  #f6f7f8*/
/* Kalahari Gold metallic =  #CFAE70*/
/* Designo Ocean Blue Metallic =  #0a2a3b*/
/* Designo Mystic Blue = #1d3b51*/
/* Designo Patagonia Red Metallic =  #6c2528*/



*{
    font-family: Trebuchet MS;
    color: #272422;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1 {
    color: #0a2a3b;
    font-family: Palatino;
	font-size: 60px;
}

h2 {
	font-size: 40px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 70px;
}

p {
    font-size: 20px;
}

body{
    background-color:  #f6f7f8;
}

.section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    background-color: lightblue; /* Set default background color */
}

.section.visible {
    opacity: 1;
}

.section:nth-child(1) { background: #161819; }
.section:nth-child(2) { background: #161819; }
.section:nth-child(3) { background: #161819; }
.section:nth-child(4) { background: #161819; }

#ready-section,#intro-section, #about-me-section{
    display: grid;
    place-items: center;
    align-content: center;
    height: 100vh;
}

#intro-section{

}

#about-me-section{
    
}

footer {
    text-align: center;
}